body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar{
  background-color: #35b78b;
  height:56px;
}
.main{
  width:100%;
  padding-top: 60px;
}
.searchbar{
  width:300px;
}
.posterBig{
  width:50%;
  height:35%;
}
.movieInfo{
  width:90%;
  height:35%;
}
.movie{
  max-width: 415px;
  height: 650px;
}
.poster{
  width: 300px;
  height: 400px;
  
}
.menuItem{
  text-align: right;
  float: right;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
